@model TestApp.Models.TestRun

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Test Run</h4>
        <hr />
        @Html.ValidationSummary(true)
        @Html.HiddenFor(model => model.TestRunID)

        <div class="form-group">
            @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Name)
                @Html.ValidationMessageFor(model => model.Name)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestPlanID, "Test Plan ID", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("TestPlanID", String.Empty)
                @Html.ValidationMessageFor(model => model.TestPlanID)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.RunDate, "Run Date", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.RunDate)
                @Html.ValidationMessageFor(model => model.RunDate)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Description, new { @rows = 15, @cols = 40 })
                @Html.ValidationMessageFor(model => model.Description)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.TestSteps, "Test Steps", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.TestSteps, new { @rows = 15, @cols = 40 })
                @Html.ValidationMessageFor(model => model.TestSteps)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExpectedResults, "Expected Results", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.ExpectedResults, new { @rows = 15, @cols = 40 })
                @Html.ValidationMessageFor(model => model.ExpectedResults)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Status, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Status)
                @Html.ValidationMessageFor(model => model.Status)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
