@model TestApp.Models.TestSuite

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Test Suite</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.CreateDate)*@
            Create Date
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CreateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.TextAreaFor(model => model.Description, new { @rows = 15, @cols = 40 })
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TestSuiteID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
